<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>name</key>
		<string>La Giralda</string>
		<key>shortDescription</key>
		<string></string>
		<key>description</key>
		<string></string>
		<key>photos</key>
		<array/>
		<key>videos</key>
		<array/>
		<key>latitude</key>
		<string>37.386303</string>
		<key>longitude</key>
		<string>-5.992396</string>
		<key>address</key>
		<string></string>
		<key>tags</key>
		<array>
			<string>Monumento</string>
		</array>
		<key>pinIconName</key>
		<string></string>
		<key>thumbImageName</key>
		<string>giralda.png</string>
		<key>url</key>
		<string>http://es.wikipedia.org/wiki/Giralda</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>name</key>
		<string>Torre del Oro</string>
		<key>shortDescription</key>
		<string></string>
		<key>description</key>
		<string></string>
		<key>photos</key>
		<array/>
		<key>videos</key>
		<array/>
		<key>latitude</key>
		<string>37.386303</string>
		<key>longitude</key>
		<string>-5.992396</string>
		<key>address</key>
		<string></string>
		<key>tags</key>
		<array>
			<string>Monumento</string>
		</array>
		<key>pinIconName</key>
		<string></string>
		<key>thumbImageName</key>
		<string>131-tower.png</string>
		<key>url</key>
		<string>http://es.wikipedia.org/wiki/Giralda</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>name</key>
		<string>Reales alcázares</string>
		<key>shortDescription</key>
		<string></string>
		<key>description</key>
		<string></string>
		<key>photos</key>
		<array/>
		<key>videos</key>
		<array/>
		<key>latitude</key>
		<string>37.384404</string>
		<key>longitude</key>
		<string>-5.992275</string>
		<key>address</key>
		<string>41004 Sevilla</string>
		<key>tags</key>
		<array>
			<string>Monumento</string>
		</array>
		<key>pinIconName</key>
		<string></string>
		<key>thumbImageName</key>
		<string>131-tower.png</string>
		<key>url</key>
		<string>http://es.wikipedia.org/wiki/Giralda</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>name</key>
		<string>Jardines de Murillo</string>
		<key>shortDescription</key>
		<string></string>
		<key>description</key>
		<string></string>
		<key>photos</key>
		<array/>
		<key>videos</key>
		<array/>
		<key>latitude</key>
		<string>37.383257</string>
		<key>longitude</key>
		<string>-5.987624</string>
		<key>address</key>
		<string>Av de Menéndez Pelayo, 6</string>
		<key>tags</key>
		<array>
			<string>Monumento</string>
		</array>
		<key>pinIconName</key>
		<string></string>
		<key>thumbImageName</key>
		<string>jardines_murillo.png</string>
		<key>url</key>
		<string>http://es.wikipedia.org/wiki/Giralda</string>
	</dict>
</array>
</plist>
